/*@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);*/

#homepage-video .btn {
    font-size: 20px;
    font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#homepage-video H1 {
    font-family: "幼圆", sans-serif;
}

#homepage-video P {
    font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-indent: 2em;
}

#site-nav .mbr-brand__name {
    font-size: 16px;
}

#site-nav.mbr-navbar--stuck .mbr-navbar__section {
    background: #1b6592;
}

#site-nav .mbr-brand__name a {
    font-size: 24px;
    font-family: "Arial", sans-serif;
}

#site-nav .mbr-navbar__items a {
    font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#page-top .caption h3 {
    color: #fff;
    font-size: 46px;
    letter-spacing: 0.5em;
    font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-shadow: silver 2px 2px 2px;
}

#page-top P {
    color: #fff;
    text-align: center;
    font-size: 21px;
    word-spacing: 1em;
    font-family: "Arial", sans-serif;
}

#article-title H3 {
    font-family: "宋体", "WenQuanYi Micro Hei", sans-serif;
    color: #1b6592;
}

#article-content p {
    font-family: "Microsoft YaHei", sans-serif;
}

#site-footer p {
    font-family: "Microsoft YaHei", sans-serif;
}
