{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for blog_post as tags %}
    {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}
    <section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="page-top"
             style="background-image: url(/static/img/page_blog_top.jpg);">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: #2d6283;"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>微生物组创新创业协会</h3>
                            <div><p>Innovator Association of Microbiome<br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section" id="article-title">
        <div class="mbr-section__container container mbr-section__container--first">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">{{ blog_post.title }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section" id="article-content">
        <div class="mbr-section__container container mbr-section__container--middle">
            <div class="row">
                <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
                    {% block blog_post_detail_postedby %}
                        {% editable blog_post.publish_date %}
                            <p class="mbr-header__subtext">
                                {% trans "Posted by" %}:
                                {% with blog_post.user as author %}
                                    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                                {% endwith %}
                                {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }}
                                    ago{% endblocktrans %}
                            </p>
                        {% endeditable %}
                    {% endblock %}
{#                    {% block blog_post_detail_commentlink %}#}
{#                        <p>#}
{#                            {% if blog_post.allow_comments %}#}
{#                                {% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#                                    (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"#}
{#                                        data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}#}
{#                                    {% trans "Comments" %}#}
{#                                {% endspaceless %}</a>)#}
{#                                {% else %}(<a href="#comments">{% spaceless %}#}
{#                                    {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }}#}
{#                                        comment{% plural %}{{ comments_count }} comments{% endblocktrans %}#}
{#                                {% endspaceless %}</a>)#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        </p>#}
{#                    {% endblock %}#}

                    {% block blog_post_detail_featured_image %}
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            <p><img class="img-responsive" style="margin-right: auto; margin-left: auto; display: block;"
                                    src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
                        {% endif %}
                    {% endblock %}

                    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                        {% include "generic/includes/disqus_counts.html" %}
                    {% endif %}

                    {% block blog_post_detail_content %}
                        {% editable blog_post.content %}
                            {{ blog_post.content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endblock %}

                    {% block blog_post_detail_keywords %}
                        {% keywords_for blog_post as tags %}
                        {% if tags %}
                            {% spaceless %}
                                <ul class="list-inline tags">
                                    <li>{% trans "Tags" %}:</li>
                                    {% for tag in tags %}
                                        <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>
                                            {% if not forloop.last %}, {% endif %}</li>
                                    {% endfor %}
                                </ul>
                            {% endspaceless %}
                        {% endif %}
                    {% endblock %}

{#                    {% block blog_post_detail_rating %}#}
{#                        <div class="panel panel-default rating">#}
{#                            <div class="panel-body">#}
{#                                {% rating_for blog_post %}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endblock %}#}

{#                    {% block blog_post_detail_sharebuttons %}#}
{#                        {% set_short_url_for blog_post %}#}
{#                        <a class="btn btn-sm share-twitter" target="_blank"#}
{#                           href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>#}
{#                        <a class="btn btn-sm share-facebook" target="_blank"#}
{#                           href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>#}
{#                    {% endblock %}#}

                    {% block blog_post_previous_next %}
                        <ul class="pager">
                            {% with blog_post.get_previous_by_publish_date as previous %}
                                {% if previous %}
                                    <li class="previous">
                                        <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                            {% with blog_post.get_next_by_publish_date as next %}
                                {% if next %}
                                    <li class="next">
                                        <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    {% endblock %}

                    {% block blog_post_detail_related_posts %}
                        {% if related_posts %}
                            <div id="related-posts">
                                <h3>{% trans 'Related posts' %}</h3>
                                <ul class="list-unstyled">
                                    {% for post in related_posts %}
                                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endblock %}

{#                    {% block blog_post_detail_comments %}#}
{#                        {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}#}
{#                    {% endblock %}#}
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block footer %}
    <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="site-footer"
            style="background-color: #1b6592;">
        <div class="mbr-section__container container">
            <div class="mbr-footer mbr-footer--wysiwyg row">
                <div class="col-sm-12">
                    <p class="mbr-footer__copyright">Copyright (c) 2016 微生物组创新创业协会. 沪ICP备16022951号-2</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}