{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}
    <section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="page-top"
             style="background-image: url(/static/img/page_blog_top.jpg);">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: #2d6283;"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>微生物组创新创业协会</h3>
                            <div><p>Innovator Association of Microbiome<br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section" id="article-list">
        <div class="mbr-section__container container mbr-section__container--first">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">

                    {% for blog_post in blog_posts.object_list %}
                        {% block blog_post_list_post_title %}
                            {% editable blog_post.title %}
                                <h2 class="mbr-header__text">
                                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                                </h2>
                            {% endeditable %}
                        {% endblock %}
                        {% block blog_post_list_post_metainfo %}
                            {% editable blog_post.publish_date %}
                                <p class="mbr-header__subtext">
                                    {% trans "Posted by" %}:
                                    {% with blog_post.user as author %}
                                        <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                                    {% endwith %}

                                    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }}
                                        ago{% endblocktrans %}
                                </p>
                            {% endeditable %}
                        {% endblock %}

                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            {% block blog_post_list_post_featured_image %}
                                <a href="{{ blog_post.get_absolute_url }}">
                                    <img class="img-thumbnail pull-left"
                                         src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 120 90 %}">
                                </a>
                            {% endblock %}
                        {% endif %}

                        {% block blog_post_list_post_content %}
                            {% editable blog_post.content %}
                                {{ blog_post.description_from_content|safe }}
                            {% endeditable %}
                        {% endblock %}

                        {% block blog_post_list_post_links %}
                            <div class="blog-list-detail">
                                {% keywords_for blog_post as tags %}
                                {% if tags %}
                                    <ul class="list-inline tags">
                                        {% trans "Tags" %}:
                                        {% spaceless %}
                                            {% for tag in tags %}
                                                <li><a href="{% url "blog_post_list_tag" tag.slug %}"
                                                       class="tag">{{ tag }}</a>
                                                    {% if not forloop.last %}, {% endif %}</li>
                                            {% endfor %}
                                        {% endspaceless %}
                                    </ul>
                                {% endif %}
                                <p>
                                    <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
{#                                    {% if blog_post.allow_comments %}#}
{#                                        /#}
{#                                        {% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#                                            <a href="{{ blog_post.get_absolute_url }}#disqus_thread"#}
{#                                               data-disqus-identifier="{% disqus_id_for blog_post %}">#}
{#                                                {% trans "Comments" %}#}
{#                                            </a>#}
{#                                        {% else %}#}
{#                                            <a href="{{ blog_post.get_absolute_url }}#comments">#}
{#                                                {% blocktrans count comments_count=blog_post.comments_count %}#}
{#                                                    {{ comments_count }}#}
{#                                                    comment{% plural %}{{ comments_count }} comments{% endblocktrans %}#}
{#                                            </a>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
                                </p>
                            </div>
                        {% endblock %}
                    {% endfor %}

                    {% pagination_for blog_posts %}

                    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                        {% include "generic/includes/disqus_counts.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
{% block footer %}
    <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="site-footer"
            style="background-color: #1b6592;">
        <div class="mbr-section__container container">
            <div class="mbr-footer mbr-footer--wysiwyg row">
                <div class="col-sm-12">
                    <p class="mbr-footer__copyright">Copyright (c) 2016 微生物组创新创业协会. 沪ICP备16022951号-2</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}